@font-face {
  font-family: DMSerifItalic;
  src: url(../fonts/DMSerifDisplay-Italic.ttf);
}

@font-face {
  font-family: MontSerratRegular;
  src: url(../fonts/Montserrat-Regular.ttf);
}

body {
  background-color: #28381F;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.secondary-font {
  font-family: MontSerratRegular;
  color: #FFEEEE;
  border: solid #FFEEEE 1px;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 35px;
}

.primary-font {
  font-family: DmSerifItalic;
  color: #E66F7F;
  font-size: 70px;
  margin-top: -5px;
  margin-bottom: 2px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin-top: 150px;
}

.content img {
  width: 320px;
}

.content .first-links {
  display: flex;
  justify-content: space-around;
  width: 715px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.content .second-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 80px;
}

.footer img {
  width: 200px;
}

@media (max-width: 720px)
{
  .primary-font {
    font-size: 50px;
  }

  .secondary-font {
    font-size: 25px;
  }

  .content img {
    width: 270px;
  }

  .content .first-links{
    flex-direction: column;
    width: auto;
    margin-bottom: 0;
    margin-top: 60px;
  }

  .footer img {
    width: 150px;
  }
}
